

.container {
    width: 1170px;
    margin: 0 auto;
    margin-top:100px;
}

.clearfix {
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
.container .item{
    position: relative;
    width: 90%;
}
.container .item img{
    width: 100%;
}
.container .item span{
color:white;
}
.container h1{
font-size: 25px;
}

.container .item .icons{
font-size: 20px;
position: absolute;
left:0;
bottom: 0;
margin-bottom: 10px;
padding: 10px;
}
.container .item .icons span{
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    background-color: lightgray;
    opacity: 0.5;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
line-height: 20px;
color: black;
 

}
.container .item .icons span:hover{
        color:blue;

    
}
.container .item .info{
    color:white;
    position: absolute;
    right:0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;

}

.container .item .opasity{
    width: 100%;
    height: 99%;
    background-color: rgb(92, 92, 92);
    opacity: 0.2;    
    position: absolute;
    top:0;
}
.container .item .info p{
    text-align: center;
}
.container .item h3{
    position: absolute;
    top:0;
    left: 0;
    padding: 5px;
    background-color: #bdbd2d;
    color: white;
    margin: 20px;
}